nav {
  display: flex;
  gap: 20px;
}

.ini {
  padding-left: 110px;
  color: white;
}

.ini a {
  display: block;
  text-decoration: none;
  color: white;
}

.img1 {
  width: 110px;
  height: 90px;
  position: absolute;
  padding-left: 80px;
}

.wan {
  background-color: rgb(44, 67, 103);
  width: 1270px;
  height: 80px;
  margin-left: 20px;
  border-radius: 20px;
  position: sticky;
  top: 0;
}



body {
  background-color: rgb(229, 229, 229);
  overflow: auto;
 
}

 
.menu {
  position: relative;      
  padding-left: 0;          
  color: white;
  display: inline-block;    
}

.cate {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

.cate:hover {
  background-color: rgb(152, 175, 211);
  border-radius:20px;
}

.desple {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(152, 175, 211);
  min-width: 140px;
   border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0,2);
  margin-left:20px;
}

.desple a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.desple a:hover {
  background-color: rgb(44, 67, 103);
}

.cate:hover + .desple {
  display: block;
}

 .menu:hover .desple {
  display: block;
}

.menu {
    margin-left: 150px;  
    margin-top:10px;
}

.ini a {
    padding: 0px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.ini a:hover {
    background-color: rgb(152, 175, 211);
       
}

.pros{
  background-color: rgb(44, 67, 103);
  width:500px;
  height: 50px;
  margin-left:385px;
  margin-top:8rem;
  text-align: center;
border-radius: 20px;
}

.pro{

  padding-top:10px;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;

  }


 .carrusel {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top:7rem;
}

.carrusel-ventana {
  overflow: hidden;
}

.carrusel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.producto {
  min-width: 300px;
  margin: 0 10px;
  background: rgb(152, 175, 211);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: white;
}

/* BOTONES */
.btn-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(44, 67, 103);
  color: rgb(152, 175, 211);
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  z-index: 10;
}

.btn-carrusel.left {
  left: 5px;
}

.btn-carrusel.right {
  right: 5px;
}

.btn-carrusel:hover {
  background: rgb(152, 175, 211);
}




.nos{
  padding-left: 300px;
  color: white;
}
  
.nos a {
  display: block;
  text-decoration: none;
  color: white;
}

.nos a {
    padding: 0px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.nos a:hover {
    background-color: rgb(152, 175, 211);
    
}


.imgwan{
  width:290px;
  height:300px; 
}


.invisible{
  width:16rem;
  height:8rem;
  background-color: rgb(229, 229, 229);
}

